/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  width: 400px;
}

#contenedorTarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

#contenedorTarjetas div {
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
